<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
	</dict>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Allow the app to track hand gestures for 3D model interaction.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Allow the app to communicate with data services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Audio is recorded to transcribe AI assistant requests. Audio recordings are discarded after transcription.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition is used to transcribe AI assistant requests.</string>
</dict>
</plist>
